{% extends 'plantilla.html' %}

{% block content %}

<div style="text-align:center; display: flex; flex-direction: column; align-items: center;">
  <form action=""></form>
  <h2 class="text-center">Buscar Usuarios</h2>
  <label for="usuario_alias"></label>
  <div class="container-fluid" style=" margin: 2rem; width: 50vw" ;>
    <form class="d-flex form1" role="search">
      <input class="form-control me-2" type="search" placeholder="Ingrese Alias" aria-label="Search"
        name="usuario_alias" id="usuario_alias" maxlength="50">
      <button class="btn btn-success" type="submit">Buscar</button>
    </form>
  </div>
  </form>
</div>

<h2 class="text-center">Usuarios</h2>

<table class="table table-info w-75 mx-auto text-center">
  <tr class="table-dark">
    <th>Alias</th>
    <th>Personaje favorito</th>
    <th>Telefono</th>
    <th>codigo</th>
  </tr>
  {% for usuario in usuarios %}
  <tr>
    <td>{{ usuario.alias }}</td>
    <td>{{ usuario.personaje_fav }}</td>
    <td>{{ usuario.telefono }}</td>
    <td>{{ usuario.codigo }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
